@model List<RecentWorkCompononent>

@{
    ViewData["Title"] = "Index";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="byRuslan" style="display:flex; justify-content:space-between;">
                            <h5 class="card-title">Hover Table</h5>
                            <a asp-action="Creat" class="btn btn-primary text-white" >Create +</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>@item.Id</th>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.Image</td>
                                            <td>
                                                <form method="post" asp-route-id="@item.Id" asp-action="delete">
                                                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn bg-info">Detail</a>
                                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn bg-warning">Edit</a>
                                                    <button class="btn bg-danger">DELETE</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
        
</div><!--End Row-->
